body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: royalblue;
    width: 100%;
    margin: 0px;
}

.header-col-1{
    background-color: royalblue;
}

.header-col-2{
    background-color: gold;
}

.header-col-3{
    background-color: lightgrey;
}
