body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightskyblue;
}

header{
    background-color: royalblue;
    width: 100%;
}

.container{
    margin: 0px;
    max-width: 100%;
}

.col{
    padding: 10px;
}

.header-col-1{
    background-color: royalblue;
}

.header-col-2{
    background-color: gold;
    float: center;
    text-align: center;
}

.header-col-3{
    background-color: lightgrey;
}

.col-3{
    float: right;
    text-align: right;
}

.page{
    padding: 20px;
}
